<div class="row">
    <div class="col-md-9">
        <h2>{{title }}</h2>
        <hr>
        <agm-map
                [zoom]="zoom"
                [latitude]="lat"
                [longitude]="lng">

            <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
                <agm-info-window>
                    <p><b>Label:</b> Your position</p>
                </agm-info-window>
            </agm-marker>
            <agm-marker *ngFor="let m of markers"
                  [iconUrl]='{"url": m.icon,"scaledSize": {"height": 12, "width": 15}}'
                  [latitude]="m.lat"
                  [longitude]="m.lng"
            >
              <agm-info-window>
                  <h5>Country Info - {{ m.label }}</h5>
                  <hr>
                  <p><b>Currency:</b> {{ m.currency }}</p>
                  <p><b>Range: </b>{{ m.range }}</p>
              </agm-info-window>
          </agm-marker>
        </agm-map>
    </div>
    <div class="col-md-3">
        <h2>Country Info</h2>
        <hr>
        <div class="empty-data">
            <p>Please, select a country</p>
        </div>
    </div>
</div>