<div class="row">
    <div class="col-md-9">
        <h2>{{title }}</h2>
        <hr>
        <agm-map
                [zoom]="zoom"
                [latitude]="lat"
                [longitude]="lng">
          <agm-marker *ngFor="let m of markers"
                  [latitude]="m.lat"
                  [longitude]="m.lng"
                  [label]="m.label"
          ></agm-marker>
        </agm-map>
    </div>
    <div class="col-md-3">
        <h2>Country Info</h2>
        <hr>
        <div class="empty-data">
            <p>Please, select a country</p>
        </div>
    </div>
</div>