<div class="container">
  <div class="row">
    <div class="col-12-sm">
      <h3>Introduction</h3>
      <p>This is a simple app written on Angular Framework that displays a map of the world, and its countries (using Angular Google Maps©) and show some information regarding them.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12-sm">
      <h3>How To Use</h3>
      <p>The panel is devided to 2 parts - the map on the left and the country details side bar on the right. The countries list and the flags are fetched and rendered automatically. You can move freely the map, the markers will place themselves accordingly to the latitude and the lontitude.</p>
      <p> To view information regarding a country just click on the small flag (marker icon) - a window will pop up showing the range between the country and the user and the currency used in that country. </p>
      <p>On the right side bar you will see the following details:</p>
      <ul>
        <li>Country name</li>
        <li>Capital name</li>
        <li>Region (Continent)</li>
        <li>Latitude and longitude</li>
        <li>Countries population</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12-sm">
      <h3>Additional Notes</h3>
      <p>The app might be a bit slow on some devices, as it requests the information through an external API.</p>
      <p>Geo-location doesn't work always (and it requires an SSL certificate in order to operate or the app being hosted on localhost), thus the fail-back location is: </p>
      <ul>
        <li>Latitude: 32.3212957</li>
        <li>Longtitude: 34.8568874</li>
      </ul>
      <p style="color:red"><i>The API Key in the repo is invalid - please, use create a one of your own</i></p>
    </div>
  </div>
</div>